@import url('https://fonts.googleapis.com/css?family=Lato');



body, html{
    margin:0px;
    padding:0px;
    font-family: 'Lato', sans-serif;
    

}
ul{
    margin: 0px;
    padding: 0px;
}

/** Cabecera **/

header{
    background-color: #1c2238;
    color:#fff;
    margin: 0px;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-self: center;
}
header div{
    margin-left: 20px;
    align-self:center;
}


header ul{
    display: flex;
    box-sizing: border-box;
    
}
header ul a{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-self: center;
    text-align: center;
    border-bottom: solid 2px #1c2238;
    
}

header li{
    align-self: center;
    padding: 0 20px;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    padding-left: 50px;
    
}

header ul li div
{
    align-self: center;
}
header a{
    color:#fff;
    text-decoration: none;    
}

header .actual{
    border-bottom: solid 3px #fff99d;
}

#cerrarSesion{
    margin-left: auto;
    
    display: flex;
    align-self: center;
    height: 100%;
    margin-right: 30px;
    padding-left: 60px;
    background-image:url(/img/ico/key.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-position: 15px center;
    
}
#cerrarSesion a{
    
    align-self: center;
    
}

#usuario{
   display: inline-block;
}


#a_mantenimiento{
    background-image:url(/img/ico/settings.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-position: 15px center;
}
#a_contacto{
    background-image:url(/img/ico/contacto.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-position: 15px center;
}

#a_practicas{
    background-image:url(/img/ico/practicas.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-position: 15px center;
    
}
/** Fin cabecera **/







#tab h1
{
    padding: 0;
    margin: 0;
}

/** Menu izquierda **/

#menuizq
{
    width: 250px;
    background-color: #1c2238;
    
    
    
}
#menuizq ul{
    
    
}


#menuizq li{
    list-style: none;

}

#menuizq .elemento
{

    padding: 10px 20px;
}
#menuizq a{
    color:#fff;
    text-decoration: none;
}

#menuizq .actual
{
    border-left:solid 3px #fff99d;
    padding-left:17px;
}

#menuizq .h_tema{
    font-weight: 700;
}
#menuizq .des_tema{
    font-size: 0.7em;

}

#menuizq .elemento:nth-child(odd)
{
    background-color: #212b46;
}
#menuizq .elemento:nth-child(even)
{
    background-color: #1f2640;
}



/** Fin Menu izquierda **/

#cuerpo{
    background-color: #E4E7EA;
    display: flex;
    width: 100%;
    
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0;
    
}


#tab{
    padding: 0px;
    
    width: 100%;
    height: 100%;
   
    
    
}

#tab #titulo{
    width: 100%;
    height: 70px;
    padding: 15px;
    background-color: #F7F7F7;
    border: solid 1px rgb(211, 215, 219);
    box-sizing: border-box;

    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.5px;
    
}

#contenido{
    padding:15px;
}

footer{

    bottom:0px;
    background-color: #f00;

}

.toolbar{
    height: 100%;
    padding: 5px 0px;
    display:flex;
    align-self: center;
    box-sizing: border-box;
}

.toolbar a { /* form*/
    text-decoration: none;
    padding: 0;
    margin:0;
    display: flex;
}

.toolbar form {
	text-decoration: none;
    padding: 0;
    margin:0;
	display: flex;
}
.toolbar .ico_desc
{
    align-self: center;
    font-size: 0.8em;
}
.toolbar .ico_desc:hover
{
    align-self: center;
    font-size: 0.8em;
    text-decoration: underline;
}

.toolbar img.ico{
    padding: 5px;
    align-self: center;
}



/*** Formularios ***/

/** Colores de fondo **/

    /** Elementos rojos  */
.bgred{
    background-color:#FF5252; 
}
input[type=button].bgred:hover, input[type=submit].bgred:hover
{
    background-color: #ef4545;
}

    /** Elementos blancos **/
.bgwhite{
    background-color: #fff;
    color:#000 !important;
}
input[type=button].bgwhite:hover, input[type=submit].bgwhite:hover
{
    background-color: #EEEEEE;
}

    /** Elementos azules **/
.bgblue{
    background-color: #2196F3;
}
input[type=button].bgblue:hover, input[type=submit].bgblue:hover
{
    background-color: #1A77C9;
}

    /** Elementos grises **/
.bggray{
    background-color: #E0E0E0;
    color:#212121 !important;
}
input[type=button].bggray:hover, input[type=submit].bggray:hover
{
    background-color: #D6D6D6;
}


/** Elementos **/

/** Input texto  **/
input[type=text], input[type=password]{
    border:none;
    border-bottom: solid 1px #DBDBDB;
    padding:6px;
    padding-bottom: 7px;

}

/** Campos input cuando se esten editando **/
input[type=text]:focus, input[type=password]:focus{
    border:none;
    border-bottom: solid 2px #2196F3;
    padding-bottom: 6px;
}

/** Para subrayar de rojo el campo incorrecto **/
input[type=text].error, input[type=password].error{
    border-bottom: solid 2px #f00;
    padding-bottom: 6px;

}

/** Botones **/
input[type=button], input[type=submit]{
    
    border-radius: 2px;
    color:#fff;
    margin-top: 10px;
    border:none;
    padding-left: 16px;
    padding-right: 16px;
    height: 36px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #2196F3;
}

input[type=button]:active, input[type=submit]:active
{
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5);
}

input{
    /** Outline para quitar el borde de los input en chrome cuando estan activos **/
    outline: none;
    margin:5px;
}

/** Tablas **/
table{
    margin: 0px;
    box-shadow:1px 1px 5px #888888;
    border-collapse: collapse; 
    width: 100%;
    background-color: #fff;
}


table td, th{
    
    margin: 0;
    padding: 10px;
    
}
table tr:last-child{
    
    border-bottom: 0px;
}
table tr{
    padding: 0;
    border-bottom: solid 1px #ccc;
}

.target{
    padding:15px;
    box-shadow:1px 1px 5px #888888;
    box-sizing: border-box;
    width: 100%;
    
    background-color: #fff;
}
.target h2:first-child
{
    margin-top:0px;
}

